[Desktop Entry]
Version=1.0
Type=Application
Name=Castlocal
GenericName=Transmisor a Chromecast
Comment=Inicia o detiene el servidor para transmitir videos al Chromecast (doble clic = alternar)
Exec=@@DIR@@/castlocal-console.sh
Icon=video-television
Terminal=false
Categories=AudioVideo;Video;
StartupNotify=false
